/**
| ==========
| block 2
| ==========
**/
body {
    font-family: var(--main-font);
    color: var(--maint-txt-cl);
    background-color: var(--wht-bg-cl);
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  .no-scroll {
    overflow: hidden;
  }